*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.headr{
    padding: 2px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.container{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    background-color: black;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallary{
    display: flex;
    align-items: center;
    justify-content: center;

}
.img-box{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url(goku.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}
.img-box:nth-child(2){
    background: url(suz.png);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url(suzai1.png);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background: url(suzzz.jpg);
    background-size: cover;
    background-position: center;
}
.img-box h3{
    color: white;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.img-box:hover{
    width: 250px;
    cursor: pointer;
    
}
.img-box:hover h3{
    opacity: 1;
    bottom: 25px;

}