*{
    padding: 0px;
    margin: auto;
}
.lin{
    background-color: black;
    padding: 10px;
}
.lin ul li{
    list-style: none;
    margin: 0 15px;
}
.lin ul li .fab{
    font-size: 15px;
    line-height: 10px;
    transition: .3s;
    color: white;
}
.lin ul li{
    display: inline-block;
    width: auto;
    list-style: outside none none;
} 
.lin ul li a :hover{
    transform: translate(0, -10%);
    color: rgb(96, 25, 117);
}

 header{
    background-color: tomato;
    margin-top: 10px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;

 }
 header p{
    text-align: center;
    text-decoration: none;
    text-transform: none;

 }
.pic p{
    text-align: right;
 }
.pic{
    float: left;
    width: 25%;
    margin: 5px;
}
.pic img{
    border: yellowgreen solid 5px;
    width: 100%;
}
.para{
    margin: 5px;
    margin-left: 10px;
    background-color: yellowgreen;
    float: inline-start;
    width: 25%;
}
.para p{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.para span{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.para a{
    text-decoration:solid;
    color: #000;
}
.para a:hover{
    color: white;
}
.para2{
    clear: both;
    margin: 5px;
    float: inline-start;
    width: 25%;
    background-color: tomato;
}
.para2 p{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.para2 span{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.para2 a{
    text-decoration:solid;
    color: #000;
}
.para2 a:hover{
    color: #fff;
}
.pic2{
    margin: 5px;
    float: inline-start;
    width: 25%;
    
}
.pic2 img{
    border: tomato solid 5px;
    width: 100%;
}
.pic3 p{
    text-align: right;
 }
.pic3{
    clear: both;
    float: left;
    width: 25%;
    margin: 5px;
}
.pic3 img{
    border: aqua solid 5px;
    width: 100%;
}
.para3{
    margin: 5px;
    margin-left: 10px;
    background-color: aqua;
    float: inline-start;
    width: 25%;
}
.para3 p{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.para3 span{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.para3 a{
    text-decoration:solid;
    color: #000;
}
.para3 a:hover{
    color: white;
}
.para4{
    clear: both;
    margin: 5px;
    float: inline-start;
    width: 25%;
    background-color: purple;
}
.para4 p{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.para4 span{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.para4 a{
    text-decoration:solid;
    color: #000;
}
.para4 a:hover{
    color: white;
}
.pic4{
    margin: 5px;
    float: inline-start;
    width: 25%;
}
.pic4 img{
    border: purple solid 5px;
    width: 100%;
}
.pic5 p{
    text-align: right;
 }
.pic5{
    clear: both;
    float: left;
    width: 25%;
    margin: 5px;
}
.pic5 img{
    border: orangered solid 5px;
    width: 100%;
}
.para5{
    margin: 5px;
    margin-left: 10px;
    background-color: orangered;
    float: inline-start;
    width: 25%;
}
.para5 p{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.para5 span{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.para5 a{
    text-decoration:solid;
    color: #000;
}
.para5 a:hover{
    color: white;
}
.aside{
    float: right;
    width: 5%;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.aside ul li{
    align-items: center;
    text-align: center;
    margin: 50px;
    width: auto;
    list-style: outside none none;
}
.aside ul li a{
    font-size: 20px;
    line-height: 10px;
    transition: .3s;
    color: rgb(0, 0, 0);
}
.aside ul li a:hover{
    cursor: pointer;
    color: rgb(160, 76, 76);
}
.foot{
    clear: both;
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
    background-color: yellowgreen;
}
